fastapi
pydantic[email]
uvicorn[standard]
httpx
loguru
pydantic-settings
python-dotenv
apscheduler
pytest
pytest-env
#JSON-log-formatter
boto3>=1.34.0
botocore[crt]
respx
moto[secretsmanager,ssm]
pytest-mock
pytest-cov
sentry-sdk
cachetools
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
alembic>=1.13.0
curlify3